@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e0e0e0;
    font-family: 'Poppins', sans-serif;
    transition: all 0.5s ease-out;
    animation: elementsHeader 1s;
}

body.dark {
    background-color: #3b3d3c;
    transition: all 0.5s ease-out;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #7fa4fc;
}

@keyframes elementsHeader {30%{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}}

/*==============SCROLL=========*/

.scrolltop {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    text-align: center;
    padding: .3rem;
    background: #7fa4fc;
    color: #FBFEFD;
    border-radius: 20px;
    z-index: 10;
    transition: .4s;
    visibility: hidden;
}

.scrolltop__ico {
    font-size: 1.8rem;
}

.show-scroll {
    visibility: visible;
    bottom: 1.5rem;
    text-decoration: none;
}






/*==========FOOTER==============*/

footer{
    bottom: 0;
    width: 100%;
    height: 20%;
    color: #1fad37;
    font-size: 18px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_terminos_y_condiciones{
    width: 50%;
    text-align: center;
}

.content_copyright{
    width: 50%;
    text-align: center;
}
