/*=====================HEADER==================*/

.header {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: center;
    background-color: #e0e0e0;
}

.barra_nav {
    display: flex;
    align-items: center;
    padding: 1rem 0rem;
    position: relative;
    width: 80%;
    top: 0.8rem;
    background-color: #e0e0e0;  
    color:#551a8b;
    border-radius: 30px;
    box-shadow: -7px -7px 14px #ffffff, 7px 7px 14px #828282;
}


/*====================LOGO==============*/

.logo_content{
    width: 20%;
    text-align: end;
}

.logo_content:hover{
    animation: elementsHeader 1s;
}

.logo{
text-decoration: none;
color:#551a8b;
font-size: 25px;
font-weight: bold;

}

.logo:focus{
    visibility: hidden;
}


/*===============MENU=============*/
/* .menu_container{
    width: 10%;
    text-align: center;
} */

.menu_slider{
    position: fixed;
    background-color: #e0e0e0;
    left: 2rem;
    top: 6.5rem;
    width: 60px;
    border-radius: 20px;
    box-shadow: -7px -7px 14px #ffffff, 7px 7px 14px #828282;
    height: 80vh;
    transition: all 250ms linear;
    overflow: hidden;
}

.menu_slider:hover{
    width: 260px;
    overflow: visible;
}

.menu_content{
    height: 75vh;
    min-width: 260px;
}

.menu_items{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

/* .menu_content::-webkit-scrollbar {
    width: 7px;
}

.menu_content::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #551a8b;
} */

.menu_item{
    list-style: none;
}

.menu_item a{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 250px;
}

.icon_content{
    width: 25%;
    text-align: center;
}


.menu_item a i{
    font-size: 60px;
}

.p_content{
    width: 75%;
}

.menu_item a i p{
    font-size:  15px;
    letter-spacing: 1px;
    color: #551a8b;
}

/*------------ICON MENU-----------*/


.bx-menu{
    font-size: 23px;
    cursor: pointer;
}


/*======================= CAMPO DE BUSQUEDAD=================*/

.search_content{
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.search_section{
    width: 500px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #551a8b;
    display: flex;
    cursor: pointer;
}

/* .search_section:hover{
    animation: elementsHeader 1s;
} */

.search{
    border: none;
    justify-content: start;
    margin-left: 10px;
    width: 50%;
    background-color: #e0e0e0;
}


.search_section i{
    color: #551a8b;
    width: 50%;
    text-align: end;
    margin-right: 10px;
    margin-top: 6px;
}

.search::placeholder{
    font-weight: 500;
    font-size: 17px;
    color: #551a8b;
    font-family: 'Poppins', sans-serif;
}

.search:focus{
    outline: none;
}

.search:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.search[type="search"]::-webkit-search-cancel-button{
    padding-right: 10px;
}

/*=============CAMPO DE USUARIO=============*/

.user_content{
    width: 30%; 
}

.btns_content_header{
    width: 100%;
    display: flex;
    justify-content: flex-start
}


    /************** CSS BTN LOGIN *****************/

.btn_login_content{
    width: 50%;
}

.btn_login_header{
    background-color: #e0e0e0;
    border: 2px solid #551a8b;
    color: #551a8b;
    padding: 5px 30px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 15px;
    transition: all 500ms linear;
    cursor: pointer;
}

.btn_login_header:hover{
    background-color: #551a8b;
    border: 2px solid #e0e0e0;
    color: #e0e0e0;
    animation: elementsHeader 1s;
}

.btn_login_header a{
    text-decoration: none;
}

/* ************* CSS BTN SING UP **************** */

.btn_singUp_content{
    width: 50%;
}

.btn_singUp_header{
    background-color: #551a8b;
    border: 2px solid #e0e0e0;
    color: #e0e0e0 !important;
    padding: 5px 5px;
    border-radius: 20px;
    font-weight: 900;
    font-size: 15px;
    transition: all 500ms linear;
    cursor: pointer;
}

.btn_singUp_header:hover{
    background-color: #e0e0e0;
    border: 2px solid #551a8b;
    color: #551a8b;
    animation: elementsHeader 1s;
}

.btn_singUp_header a{
    padding: 5px 35px;
    text-decoration: none;
    color:  #ffffff;
}

.btn_singUp_header a:hover{
    color: #551a8b;
}


.btn_iniciar_session{
    cursor: pointer;
}

.formulario_de_ingreso{  
    margin: auto;
}

.id_user{
    width: 230px;
    height: 30px;
    border: none;
    background: transparent;
    margin: 1.5rem 0;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);
}

.id_user:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.id_user::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.id_user:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.contraseña{
    width: 230px;
    height: 30px;
    border: none;
    background: transparent;
    margin: 1.5rem 0;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);
}

.contraseña:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.contraseña:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.contraseña::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.panel_user_icon_password{
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    z-index: 9999;
    right: 45px;
    top: 127px;
    width: 20px;
    height: 20px;
}

.fa-eye-slash{
    color: #1fad37;
    background-color: transparent;
}

.fa-eye{
    color: #1fad37;
    background-color: transparent;
}

.iniciar_session{
    width: 130px;
    height: 30px;
    margin: 1rem 4rem;
    background-color: #1fad37;
    color: #fbfbfb;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.registrarse{
    width: 130px;
    height: 30px;
    margin: 1rem 4rem;
    background-color: #1fad37;
    color: #fbfbfb;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.registrarse a{
    text-decoration: none;
    color: #fbfbfb;
}

/*======HEADER SESSION 2======*/

.panel_user_session{
    position: absolute;
    background-color: #fbfbfb;
    width: 350px;
    height: 88.8vh;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 5px rgba(70, 69, 69);
    top: 4.4rem;
    right: -23rem;
    padding: 1rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 500ms ease-in-out;
}

.panel_user_session.show{
    right: 0rem;
}

.info_user{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.foto_user{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #1fad37;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_user{
    width: 95%;
    height: 95%;
    border-radius: 50%;
}


.cerrar_session{
    width: 130px;
    height: 30px;
    margin: 1rem 4rem;
    background-color: #1fad37;
    color: #fbfbfb;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.name_user{
    width: 100%;
}

.name_user p{
    color: #1fad37;
}

/*==================CAMPO DE CARRITO=============*/

/* .carrito_container{
    width: 15%;
    text-align: center;
}

.carrito_content{
    align-items: center;
}

.bx-cart{
    font-size: 25px;
    cursor: pointer;
} */