/*=====================MAIN===============*/

main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.main_board{
    margin-top: 5rem;
    width: 80%;
    height: 80vh;
    border-radius: 40px;
    box-shadow: -7px -7px 14px #ffffff, 7px 7px 14px #828282;
    overflow-y: scroll;
    /* --webkit-scrollbar{
        width: 10px;
    } */
}

::-webkit-scrollbar{
    width: 10px;
    height: 200px;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 20px;
}
::-webkit-scrollbar-track{
    height: 200px;
    background-color: transparent;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: #551a8b;
    border-radius: 20px;
}


/*==========SECTION BANNERS======*/

.container_slide_banner {
    width: 100%;
    height: 100%;
}

.content_slide_banner {
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}

.slide-item {
    margin: auto;
    position: absolute;
    opacity: 0;
}

.slide-item img {
    display: block;
    height: auto;
    max-width: 100%;
}

.slide-control {
    background: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: #fbfbfb;
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}

.slide-control.prev {
    left: 10%;
}

.slide-control.next {
    right: 10%;
}

.slide-control:hover {
    background: #1fad37;
    color: #fbfbfb;
}

#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
    display: block;
}

.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}

.slide-circulo {
    color: #828282;
    cursor: pointer;
    display: block;
    font-size: 35px;
}

.slide-circulo:hover {
    color: #1fad37;
}

#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo {
    color: #1fad37;
}

/*============== SECTION DE PRODUCTOS ==============*/

.section_products_alimentos_y_despensa{
    width: 100%;
    height: 100%;
    margin: auto;
    padding-top: 2rem;
}

.titulo_categorias{
    text-align: center;
    font-size: 30px;
    font-weight: 900;
    color: #1fad37;
    margin-bottom: 30px;
}

/*========CUADROS DE PRODUCTOS========*/

/*.container_productos_alimentos_y_despensa{
    border-radius: 20px;
    width: 95%;
    box-shadow: 0px 0px 5px rgba(70, 69, 69);
}*/

.productos_content_principales_slider{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    padding: 1rem 1rem;
}

.cuadros_productos_alimentos_y_despensa{
    width: 200px;
    height: 306px;
    box-shadow: 0px 0px 5px rgba(70, 69, 69);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}


.cuadros_productos_alimentos_y_despensa img{
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 172px;
}

.valor_producto {
    margin-left: 10px;
}

.nombre_producto {
    margin-left: 10px;
    color: #1fad37;
}

.descripcion_producto{
    margin-left: 10px;
    opacity: 0.7;
}

.icon_agregar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon_agregar i {
    background-color: #1fad37;
    padding: 0.5rem 0.5rem;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
}

.bx-plus {
    color: #FBFEFD;
    font-size: 20px;
    font-weight: 500;
}



/*================CSS REGISTRO================*/

.section_registro{
    padding-top: 5rem;
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_formulario_registro{
    width: 90%;
}

.content_formulario_registro{
    display: flex;
}

.formulario__input-error{
    max-width: 310px;
    font-size: 13px;
    color: red;
}

.registro_lado_izquierdo{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.registro_lado_derecho{
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.campo_usuario{
    width: 300px;
    height: 20px;;
    margin: 2rem 0;
}

.usuario{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.usuario:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.usuario::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.usuario:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.campo_nombre{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.nombre_de_usuario{
    width: 300px;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.nombre_de_usuario:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.nombre_de_usuario::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.nombre_de_usuario:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.campo_correo{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.correo_electronico{
    width: 300px;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.correo_electronico:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.correo_electronico::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.correo_electronico:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.campo_telefono{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.telefono{
    width: 300px;
    height: 20px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.telefono[type="number"]::-webkit-inner-spin-button,
.telefono[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.telefono:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.telefono::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.telefono:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.campo_tdocumento{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.tipo_documento{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.tipo_documento:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.tipo_documento::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.tipo_documento:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.campo_ndocumento{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.numero_de_documento{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.numero_de_documento[type="number"]::-webkit-inner-spin-button,
.numero_de_documento[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.numero_de_documento:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.numero_de_documento::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.numero_de_documento:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.campo_password1{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.crear_contraseña{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.crear_contraseña:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.crear_contraseña::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.crear_contraseña:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.registro_icon_password{
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    top: 295px;
    right: 340px;
}

.campo_password2{
    width: 300px;
    height: 20px;
    margin: 2rem 0;
}

.repetir_crear_contraseña{
    width: 100%;
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: transparent;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgba(59, 61, 60, 0.5);

}

.repetir_crear_contraseña:focus{
    outline: none;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.repetir_crear_contraseña::placeholder{
    font-weight: 500;
    font-size: 15px;
    color: rgba(59, 61, 60, 0.5);
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}

.repetir_crear_contraseña:valid{
    padding-left: 10px;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: rgba(59, 61, 60, 0.7);
}

.registro_repetir_icon_password{
    position: absolute;
    cursor: pointer;
    font-weight: bold;
    width: 20px;
    height: 20px;
    top: 377px;
    right: 340px;
}

.g-recaptcha{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 40px;
}

.content_boton_registrste{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrate{
    background-color: #1fad37;
    color: #fbfbfb;
    border: none;
    width: 120px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
}